extends ../../../views/root

block globalNav
  //include ../../../views/partials/globalNav

block content
  .container
    .row
      .col-md-12
        h1.text-center= __('user.password.reset.form.title', lang)
        p.text-center= __('user.password.reset.form.subtitle', lang)
    .row.justify-content-md-center.align-items-center
      .col-md-6
        form.form-password-reset(method='post', action='/user/register')
          input(value=resetPasswordToken, name='resetPasswordToken' type='hidden')
          .form-group
            label.sr-only(for='inputPassword')= __('user.password.reset.form.input.password.label', lang)
            input#inputPassword.form-control(type='password', name='password', placeholder=__('user.password.reset.form.input.password.placeholder', lang), required=true)
            small(id='passwordHelp', class=['form-text text-muted'])= __('user.password.reset.form.input.password.tip', lang)
          .form-group
            label.sr-only(for='inputPassword2')= __('user.password.reset.form.input.password2.label', lang)
            input#inputPassword2.form-control(type='password', name='password2', placeholder=__('user.password.reset.form.input.password2.placeholder', lang), required=true)
            small(id='passwordHelp2', class=['form-text text-muted'])= __('user.password.reset.form.input.password2.tip', lang)
          .form-group
            button.btn.btn-lg.btn-primary.btn-block(type='submit')= __('user.password.reset.form.submit.text', lang)
    .row
      .col-md-12
        p.mt-5.mb-3.text-muted.text-center
          a(href='/user/login') Войти
          | /
          a(href='/user/register') Регистрация
    .row
      .col-md-12
        p.mt-5.mb-3.text-muted.text-center © 2017-#{currentYear}

