extends ../../../views/root

block globalNav
  //include ../../../views/partials/globalNav

block content
  .container
    .row
      .col-md-12
        h1.text-center= __('user.password.form.title', lang)
        p.text-center= __('user.password.form.subtitle', lang)
    .row.justify-content-md-center.align-items-center
      .col-md-6
        form.form-password(method='post', action='/user/register')
          .form-group
            label.sr-only(for='inputEmail')= __('user.password.form.input.email.label', lang)
            input#inputEmail.form-control(type='email', name='email', placeholder=__('user.password.form.input.email.placeholder', lang), required=true)
            small(id='emailHelp', class=['form-text text-muted'])= __('user.password.form.input.email.tip', lang)
          .form-group
            button.btn.btn-lg.btn-primary.btn-block(type='submit')= __('user.password.form.submit.text', lang)
    .row
      .col-md-12
        p.mt-5.mb-3.text-muted.text-center
          a(href='/user/login') Войти
          | /
          a(href='/user/register') Регистрация
    .row
      .col-md-12
        p.mt-5.mb-3.text-muted.text-center © 2017-#{currentYear}

