extends ../../../views/root

block globalNav
  //include ../../../views/partials/globalNav

block content
  .container
    .row
      .col-md-12
        h1.text-center= __('user.login.form.title', lang)
        p.text-center= __('user.login.form.subtitle', lang)
    .row.justify-content-md-center.align-items-center
      .col-md-6
        form.form-signin(method='post', action='/user/login')
          .form-group
            label.sr-only(for='inputEmail')= __('user.register.form.input.email.label', lang)
            input#inputEmail.form-control(type='email', name="email", placeholder=__('user.register.form.input.email.placeholder', lang), required='', autofocus='')
            small(id='emailHelp', class=['form-text text-muted'])= __('user.login.form.input.email.tip', lang)
          .form-group
            label.sr-only(for='inputPassword')= __('user.register.form.input.password.label', lang)
            input#inputPassword.form-control(type='password', name="password", placeholder=__('user.register.form.input.password.placeholder', lang), required='')
            small(id='passwordHelp', class=['form-text text-muted'])= __('user.login.form.input.password.tip', lang)
          .form-group
            button.btn.btn-lg.btn-primary.btn-block(type='submit')= __('user.login.form.submit.text', lang)
    .row
      .col-md-12
        p.mt-5.mb-3.text-muted.text-center Войти / Регистрация / Вспомнить пароль
    .row
      .col-md-12
        p.mt-5.mb-3.text-muted.text-center © 2017-#{currentYear}

