extends ../../../views/root

include ./mixins/article.shelfs.mixin.pug

block content
  .container
    .row
      .col-md-12
        header.article__header
          h1= content.article.title
          p.lead= content.article.subtitle
          p.text-muted= content.article.createdAt
          p.text-muted= content.article.updatedAt
  .container
    .row
      .col-md-12
        .menu
          each val in articleMenu
            a.p-2.text-muted(href=val.href)= val.text
  .container
    .row
      .col-md-12
        .div
          | #{content.article.description}
  +articleBookShelf(content.books)
  +articleChannelsShelf(content.channels)
  +articleCoursesShelf(content.courses)
  +articleEventsShelf(content.events)
  +articleEventsShelf(content.files)
  +articleFilesShelf(content.files)
  +articleIdeasShelf(content.ideas)
  +articleInfographicsShelf(content.infographics)
  +articleMoviesShelf(content.movies)
  +articleProductsShelf(content.products)
  +articleQuotesShelf(content.quotes)
  +articleStoriesShelf(content.stories)
  +articleSummariesShelf(content.summaries)
  +articleToolsShelf(content.tools)
  +articleVideosShelf(content.videos)
